
.item-detail{
    display: grid;
    grid-template-columns: 4fr 3fr;
    padding: 3rem;
    background-color: #fff;
    margin: 0 auto;
    column-gap: 3rem;
    max-width: 800px;
    box-shadow: 3rem 5rem 12rem var(--color2);

    
}
.item-detail img{
    width: 100%;
    border-bottom: 2px solid var(--color1);
}
.info-counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.info-counter .details{
    margin-bottom: 3rem;
}

.counter-container{
    width: 100%;
    margin: 0 auto;
}
.details .price{
    font-weight: 600;
    margin-top: 1rem;
    font-size: 1.25rem;
}

.info-counter h3{
    color: var(--color2);
    font-size: 1.6rem;
    margin-bottom: 1rem;
}