.CartWidget{
    display: flex;
    align-items: center;
    
    margin-left: 1.2rem;
}
.CartWidget:hover{
    cursor: pointer;
}


.number{
    background-color: rgb(225, 50, 50);
    color: #fff;
    padding: 1px 3px 1px 1px;
    height: 18px;
    width: 18px;
    border-radius: 60%;
    font-size: 15px;
    height: 100%;
}

.CartWidget p{
    margin-left: 1px;
}