
.cart-container{
    padding: 0 1rem ;
}
.cart-content{
    display: grid;
    grid-template-columns: 4fr 3fr;
    column-gap: 2rem;
}
.cart-container h2{
    font-size: 2rem;
    margin-bottom: 3rem;
}
.cart-container h3{
    font-size: 1rem;
}
@media only screen and (max-width: 950px) {
    .cart-content{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    .cart-container h3{
        font-size: 1.2rem;
    }
  }
  